<div class="container">

    <div class="header">
        <h3>Bank Lending Portal</h3>
    </div>


    <button style="margin-left:20px" routerLink="/customers/new" routerLinkActive="mat-accent">Add Customer</button>
    <button style="margin-left:20px" routerLink="/customers/{custId}/update" routerLinkActive="mat-accent">Update Customer</button>
    <button style="margin-left:20px" routerLink="/customers/loan/new" routerLinkActive="mat-accent"> Apply Loan</button>
    <button style="margin-left:20px" routerLink="/customers/loan/{loanAppId}/update" routerLinkActive="mat-accent"> Update Loan Application</button>
    <button class="logout" style="margin-left:120px"routerLink="/logout"> 
        <span>Logout</span>
    </button>
</div>
